body {
    font-family: JOURNAL;
    background-image: url("lapices-colores-madera-papel-hojas-Fondos-de-Pantalla-HD-professor-falken.com_.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0px;
}
/* Add a black background color to the top navigation */
.topnav {
    width: 100%; !important;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: deepskyblue;
    color: white;
}

i {
    color: deepskyblue;
}

@font-face {
    font-family: JOURNAL;
    src: url("JOURNAL.TTF");
}

#hidden {
    display: none;
}

body div {
    width: 600px;
}
H1 {
    font-weight: normal;
    margin-left: 250px;
    font-size: 60px;
}
section, section p {
    margin-left: 90px;
    font-size: 30px;
}
div p {
    margin-left: 430px;
    font-size: 25px;
}

button {

    font-family: JOURNAL;
    font-size: 25px;
    width: 80px;
    height: 39px;
    background-color: whitesmoke;
    margin-left: 100px;
    border-radius: 10px;
}

.modif {
    font-weight: normal;
    margin-left: 250px;
    font-size: 60px;
}

#Content {
    font-family: JOURNAL;
    font-size: 35px;
    border-radius: 15px;
    width: 600px;
    height: 350px;
    margin-left: 90px;
    background: none;
}

#Bmod {
    font-family: JOURNAL;
    font-size: 25px;
    width: 80px;
    height: 39px;
    background-color: #2ea80b;
    margin-left: 100px;
    border-radius: 20px;
}

h2 {
    font-weight: normal;
    font-size: 55px;
    margin-left: 230px;
}

#leftH {
    font-size: 100px;
    margin-left: 290px;
}