body {
    font-family: JOURNAL;
    background-image: url("lapices-colores-madera-papel-hojas-Fondos-de-Pantalla-HD-professor-falken.com_.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: deepskyblue;
    color: white;
}

i {
    color: deepskyblue;
}

@font-face {
    font-family: JOURNAL;
    src: url("JOURNAL.TTF");
}

button {
    font-family: JOURNAL;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 150px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-image: url("4zlHk.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#dispo {
    font-family: JOURNAL;
    font-size: 34px;
    margin-top: 24px;
    margin-left: 150px;
}
#dispo input{
    border-radius: 10px;
    width: 300px;
    height: 20px;
}
#dispo textarea {
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

#dispo #submit {
    font-family: JOURNAL;
    font-size: 25px;
    width: 80px;
    height: 39px;
    background-color: #21750b;
    margin-left: 100px;
    margin-top: 45px;
}

#loglog {
    margin-top: 90px;
    margin-left: 300px;
    font-size: 70px;
}

#signIn {
    margin-left: 30px;
    margin-top: 90px;
    font-size: 70px;
}